/* Custom Stylesheet */
/**
 * overide materialize styles
 * 
 */
 .header,.main,.head,.small,.med,.big{
   font-family: 'Raleway',sans-serif !important;
 }
 .head {
   font-size: x-large;
   font-weight: 600;
   color: navy;
 }
 .header {
  font-weight: 600;
  color: white;
}
.large{
  color: rgb(28, 51, 100);
}
 .med{
   font-size: large;
   font-weight: 500;
   color:mediumslateblue;
 }
 .big{
   font-family: 'Raleway',sans-serif;
   font-size: xx-large;
   color: indigo;
   font-weight: 700;
 }
 .small{
  font-size: medium;
  font-weight: 700;
  color: midnightblue;
}
 .para{
   font-size: medium;
   font-weight: 400;
   color: grey;
 }
 .paral{
  font-size: large;
  font-weight: 400;
  color: lightgrey;
}

 .parallax-container {
   min-height: 600px !important;
   height: auto !important;
 }

 .review{padding:10vh 0;}
 .containerx{
     width:90%;
     margin: 0 auto;
 }

 .dropdown-trigger {
  cursor: pointer;
  position: relative;
  display:inline-block;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown-content {
  position: absolute;
  display: none;
}

 .dropdown-content li {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  min-height: 41px;
  line-height: 1.3rem;
  width: 100%;
  text-align: left;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color:rgb(36, 150, 221);
}

.dropdown-trigger:hover div.dropdown-content {display: block;}


.dropdown-content li:hover a,
.dropdown-content li.active a{
  color: white;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: medium;
  font-weight: 700;
  color: rgb(57, 134, 235);
  display: block;
  line-height: 20px;
  padding: 10px 16px;
}
.parallax-container .section {
  width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container {
      min-height: 500px !important;
      height: 100vh !important;
    }
  .parallax-container .section {
    position: absolute;
  }
  #index-banner .section {
    top: 10%;
  }
}
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 10%;
   }
 }
 
 .icon-block {
   padding: 0 0px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }

.calculate{height:300px;}

 .icons{padding: 50px;}

 .iconx{padding: 100px;}

 .experts{
  max-height:390px !important;
  overflow:hidden !important;
  padding-top:25px !important;
  background-color: whitesmoke !important;
}
.experts img {
  max-height:370px !important;
  height: 100% !important;
  vertical-align: middle !important;
}
.pad-top{padding-top: 30px;}

.reviews{padding:5% 0;}

.pad{padding:2% 0;}

p{font-family: 'Raleway',sans-serif;font-weight: 400;}

.numbers{font-family: 'lato',sans-serif;font-weight: 900;color: aquamarine;}

.caption{font-weight: 900;font-size: x-large;}

.picons{
  max-height: 22px;
  max-width:27px;
  background-color: white !important;
  font-size: 20px;
  border-radius: 0.4rem;
  margin-right: 5px;
  cursor: pointer;
  border:none;
  outline:none;
}
.ficons{
  max-height: 28px;
  max-width:28px;
  background-color:white !important;
  font-size: 28px;
  border-radius: 1rem;
  margin-right: 5px;
  cursor: pointer;
  border:none;
  outline:none;
}
.page-footer{
  background-color:navy;
}
.log-nav{
  background-color:rgba(70, 90, 110, 1);
}

.btn,.btn-large,.btn-small{
  border: 2px solid white;
  border-radius:2rem;
  background-color: transparent;
  color:white;
  padding-left:35px;
  padding-right: 35px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: #4CAF50;
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.whiteb {
  border-color: #e7e7e7;
  color: white;
}

.whiteb:hover {
  background: white;
  color:navy;
}

.greenb {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: white;
}

.greenb:hover {
  background-color:white ;
  color: #4CAF50;
}

/* Blue */
.blueb {
  background: #2196F3;
  border-color: #2196F3;
  color: white;
}

.blueb:hover {
  background: white;
  color: #2196F3;
}

/* Orange */
.orangeb {
  background: orange;
  border-color: orange;
  color: white;
}

.orangeb:hover {
  background: white;
  color: orange;
}

/* Red */
.redb {
  background: orangered;
  border-color: orangered;
  color: white;
}

.redb:hover {
  background: white;
  color: orangered;
}

.card-pan {
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  padding: 10px 25px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.card-pan
 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
 }

 .card-pan:hover{
   background-color: #2196F3;
   color: white;
 }

 .card-pan:hover a{
   color:white;
 }

 .card-image img:hover{
   transform: scale(1.01);
   transition: 1s;
   transition-timing-function:ease-in-out;
 }

 .vh{
   min-height:100vh;
   height:auto;
 }
 .vh20 {
   height:40vh;
 }